.home-container
{
  margin: 10px;
}

.item-holder
{
  
  background-color: #fdddfd;
  padding: 10px;
  margin: 0 10px 10px 0;
}
.item-holder:nth-child(odd)
{
  background-color: #d6d3de;
}
.products-list
{
  max-height: 300px;
  overflow-y: scroll
}

.products-list
{
  width: 30%;
  float: left;
}

.product-desc
{
  float: left;
  margin: 10px 20px;
}